<header> <%= render "shared/navbar" %> </header>

<div class ="text-center">
  <h1 id="chat_title"><%= @chat.title %></h1>
</div>

<div class = "container">
  <div class = "row d-flex">
    <div id = "chatbox" class ="col-md-6 border">

      <div id="messages">
        <% @chat.messages.each do |message| %>
          <% if message.role == "user" %>
            <div class="d-flex justify-content-end mb-2">
              <div class="px-3 pb-0 pt-3 chat-border">
                <%= simple_format(message.content) %>
              </div>
            </div>
          <% elsif message.role == "assistant" %>
            <div class="d-flex justify-content-start mb-5">
              <div class="px-3 pb-0 pt-3 reponse-ia">
                <%= simple_format(message.content) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div id="new_message_container">
        <%= simple_form_for [@chat, @message] do |f| %>
          <%= f.input :content, label: @label, required: true, placeholder: @label %>
          <%= f.button :submit, 'Send', class:"btn btn-ghost my-2", style: "width: 150px" %>
        <% end %>
      </div>
    </div>

    <div id="cardandmap" class = "col-md-6">
      <div id = "card">
        <% if @restaurants %>
          <form action="<%= chat_restaurants_path(@chat) %>"  method="patch">
          <ul style="padding: 0px"> <% @restaurants.each do |restaurant| %>
            <li class= "card">
              <div class="card-product">
                <div class="img-block">
                  <%= image_tag restaurant.photo_url, alt: "restau_poster" %>
                </div>
                <div class="card-product-infos">
                  <div class="card-content-text">
                    <h2><%= restaurant.name %></h2>
                    <h4><%= restaurant.category %></h4>
                    <p> <%= restaurant.address %></p>
                    </div>
                    <div class="card-content-numbers">
                    <p><i class="fa-regular fa-star"></i> <%= restaurant.rating %></p>
                    <input type="checkbox"
                          class="card-check"
                          name="restaurant_ids[]"
                          value="<%= restaurant.id %>">
                    <p><%= restaurant.budget %></p>
                  </div>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
          <% if @restaurants.present? %>
            <button type="submit" class="btn btn-ghost my-2" style= "width: 300px">Add to favourites</button>
          <% end %>
        </form>
        <% end %>
        </div>
  </div>
</div>
</div>
