<h1>Hello <%= current_user.name %></h1>
<div class="card-holder">
  <h3>Here are your favourite restaurants</h3>

  <ul> <% @restaurants.each do |restaurant| %>
    <li class= "card">
      <div class="card-product">
        <img src="app/assets/images/burger.jpeg"/>
        <div class="card-product-infos">
          <h2><%= restaurant.name %></h2>
          <p> <%= restaurant.address %></p>
          <p><%= restaurant.rating %></p>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<%= link_to "Add a new restaurant", "#" %>
