<header> <%= render "shared/navbar" %> </header>

<div class="home-body" >

  <h1> Welcome <%= current_user.name.capitalize %></h1>

  <div class="home-split">

    <div class="card-holder">
      <h3>Your favourite restaurants</h3>

      <div class="card-scroll">
        <ul style="padding: 0px"> <% @restaurants.each do |restaurant| %>
          <li class= "card">
            <div class="card-product">
              <div class="img-block">
                <%= image_tag(restaurant.photo_url.presence || "burger.jpeg", alt: "restau_poster") %>
                <%= link_to " ", restaurant_path(restaurant), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"},  class:"fa-regular fa-circle-xmark delete-icon" %>
                  </div>
                  <div class="card-product-infos">
                    <div class="card-content-text">
                      <h2><%= restaurant.name %></h2>
                      <h4><%= restaurant.category %></h4>
                      <p> <%= restaurant.address %></p>
                      </div>
                    <div class="card-content-numbers">
                  <p><i class="fa-regular fa-star"></i> <%= restaurant.rating %></p>
                  <p><%= restaurant.budget %></p>
                </div>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
      <%= button_to "Add a new restaurant", chats_path, method: :post, class:"btn btn-ghost my-2", style: "width: 400px" %>
    </div>

    <div class="favourite-generator">
      <h3>Ask AI to generate another restaurant close to your favorites</h3>
      <%= link_to "Generate Restaurant", "#", class:"btn btn-ghost my-2", style: "width: 400px" %>
    </div>

  </div>
</div>
