<!DOCTYPE html>
<html>
  <head>
    <title>FindYourRestaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <i class="fa-solid fa-burger"></i>
    </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/users/sign_up">Sign Up</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/users/sign_in">Log in</a>
              </li>
              <!--li class="nav-item"-->
              <!--/li-->
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
